@import 'index.css';

body {
    background-color: var(--color-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal {
    margin: auto;
    margin-top: 60px;
    width: 1200px;
    max-width: 90%;
    overflow: hidden;
}

#inferior {
    color: white;
    padding: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    text-align: right;
    background-color: var(--color-secundario);
}

#jugador1 {
    border-right: 5px solid white;
}

#jugador2 {
    border-left: 5px solid white;
}

#jugador1, #jugador2 {
    position: relative;
}

#botonesRespuesta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el elemento */
}

#botonesRespuesta button {
    width: 120px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

#respuestaSi {
    background-color: green;
}

#respuestaNo {
    background-color: red;
}

#botonesRespuesta button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el mouse */
    border-color: #336699; /* Cambia el color del borde */
}

@media screen and (min-width: 701px) {
    #central {
        display: flex;
        width: 150%; /* Ancho máximo del contenedor */
    }
    #jugador1, #jugador2, #jugador3, #eliminarJugador {
        flex: 1; /* Ambos jugadores ocupan el mismo espacio */
        max-width: 50%; /* Cada jugador ocupa la mitad del contenedor */
    }
    
    #jugador1 img, #jugador2 img, #jugador3 img, #eliminarJugador img {
        width: 100%; /* Ambas imágenes ocupan el ancho completo de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        display: block; /* Elimina cualquier espacio extra por la alineación en línea */
    }
}

@media screen and (max-width: 700px) {
    #principal {
        margin: auto;
        margin-top: 10px;
        width: 450px;
        max-width: 90%;
        overflow-y: hidden; /* Cambiar a overflow-y */
    }

    
    #central {
        position: relative; /* Asegura que el z-index tenga efecto */
        z-index: 1; /* Asegura que el contenedor esté detrás de #superior */
    }

    #jugador1, #jugador2, #jugador3, #eliminarJugador {
        flex: 1; /* Ambos jugadores ocupan el mismo espacio */
        max-height: 50%; /* Cada jugador ocupa la mitad del contenedor */;
    }

    #jugador1 img, #jugador2 img, #jugador3 img, #eliminarJugador img {
        width: 100%; /* Ambas imágenes ocupan el ancho completo de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        display: block; /* Elimina cualquier espacio extra por la alineación en línea */
    }
    #principal {
        overflow-y: hidden; /* Cambiar a overflow-y para dispositivos verticales */
    }

}


#estadisticaJ1, #estadisticaJ2 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    color: var(--color-secundario);
    background-color: white;
    font-size: 30px;
    position: absolute;
    width: max-content;
    font-weight: bold;
    text-transform: uppercase;
    bottom: 27%;
    text-align: center;
    left: 50%;
    gap: 10px;
    transform: translate(-50%, -50%); /* Centra el elemento */
}



#central img {
    filter: grayscale(100%);
}


/* Final Partida */
#FinalPartida {
    background-color: white;
    display: flex;
    width: max-content;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    padding: 50px;
    margin: 20px auto;
    margin-top: 100px;
    border: 1px solid;
}

#FinalPartida div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#FinalPartida div:nth-child(2) button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: var(--color-secundario);
}

#FinalPartida div:nth-child(2) button:first-child {
    background-color: var(--color-principal);
}

#FinalPartida div:nth-child(2) button a {
    color: white;
}

button:hover {
    cursor: pointer;
}


#explicacion {
    background-color: white;
    width: 80%;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%); /* Centra el elemento */
    left: 50%;
    top: 20%;
}
#explicacion span:nth-child(2),
#explicacion span:nth-child(4),
#explicacion span:nth-child(6),
#explicacion span:nth-child(8),
#explicacion span:nth-child(10) {
    text-transform: uppercase;
    font-weight: bold;
}

#explicacion span:nth-child(6){
    color: green;        
}

#explicacion span:nth-child(8){
    color: red;        
}

#versus {
    width: max-content;
    background-color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#centralPadre {
    position: relative;
}

@media screen and (max-width: 700px) {
    #jugador1 {
        border-right: none;
        border-bottom: 5px solid white;
    }
    #jugador2 {
        border-left: none;
        boreder-top: 5px solid white;
    }
}
