@import 'index.css';

body {
    background-color: var(--color-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal {
    margin: auto;
    margin-top: 60px;
    width: 1200px;
    max-width: 90%;
    overflow: hidden;
}

#superior {
    background-color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: var(--color-secundario);
}

#inferior {
    margin-top: 20px;
    color: var(--color-secundario);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}



#jugador2 {
    position: relative;
}

#botonesRespuesta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el elemento */
}

#botonesRespuesta button {
    width: 120px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

#respuestaSi {
    background-color: green;
}

#respuestaNo {
    background-color: red;
}

#botonesRespuesta button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el mouse */
    border-color: #336699; /* Cambia el color del borde */
}

@media screen and (min-width: 701px) {
    #central {
        display: flex;
        width: 150%; /* Ancho máximo del contenedor */
    }
    #jugador1, #jugador2, #jugador3, #eliminarJugador {
        flex: 1; /* Ambos jugadores ocupan el mismo espacio */
        max-width: 50%; /* Cada jugador ocupa la mitad del contenedor */
    }
    
    #jugador1 img, #jugador2 img, #jugador3 img, #eliminarJugador img {
        width: 100%; /* Ambas imágenes ocupan el ancho completo de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        display: block; /* Elimina cualquier espacio extra por la alineación en línea */
    }
}

@media screen and (max-width: 700px) {
    #principal {
        margin: auto;
        margin-top: 10px;
        width: 450px;
        max-width: 90%;
        overflow-y: hidden; /* Cambiar a overflow-y */
    }

    #superior {
        background-color: white;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        color: var(--color-secundario);
        position: relative; /* Asegura que el z-index tenga efecto */
        z-index: 2; /* Ajusta el z-index para que esté por encima del contenedor */
    }
    
    #central {
        position: relative; /* Asegura que el z-index tenga efecto */
        z-index: 1; /* Asegura que el contenedor esté detrás de #superior */
    }

    #jugador1, #jugador2, #jugador3, #eliminarJugador {
        flex: 1; /* Ambos jugadores ocupan el mismo espacio */
        max-height: 50%; /* Cada jugador ocupa la mitad del contenedor */;
    }

    #jugador1 img, #jugador2 img, #jugador3 img, #eliminarJugador img {
        width: 100%; /* Ambas imágenes ocupan el ancho completo de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        display: block; /* Elimina cualquier espacio extra por la alineación en línea */
    }
    #principal {
        overflow-y: hidden; /* Cambiar a overflow-y para dispositivos verticales */
    }

    #centralPadre {
        height: 900px;
        max-height: 100%;
        overflow: hidden;
    }

}