@import 'colores.css';

body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* Barra de navegación  */
nav {
    width: 100%;
    background-color: var(--color-secundario);
    padding: 5px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.menu {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

.menu img {
    max-width: 250px;
    width: 100%;
}

.menu .logo {
    display: flex;
}

.menu_lista {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu_lista .login {
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    max-height: 50px;
}

.menu_lista li a{
    font-weight: bold;
    color: var(--color-principal);
    font-family: sans-serif;
    font-size: 22px;
    margin: 20px;
}

.menu_lista .login button {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 150px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu_lista .login button:hover {
    cursor: pointer;
    background-color: var(--color-principal);
}

/*Barra de navegación en tablet/móvil*/
@media screen and (max-width: 850px) {
    nav {
        background-color: white;
        padding: 0;
        padding-top: 5px;
    }
    .menu {
        flex-direction: column;
    }
    .menu_lista {
        background-color: var(--color-secundario);
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        justify-content: center;
    }
    .menu_lista li a {
        margin: 0px;
    }
    .menu_lista li {
        margin: 10px;
    }

    .menu_lista .login {
        width: max-content;
    }

}

/* Ajuste del texto para pantallas muy pequeñas*/
@media screen and (max-width: 450px) {
    .menu_lista li a {
        font-size: 1.2em;
    }
    .menu_lista .login button {
        font-size: 1.2em;
        width: max-content;
    }
}


/* Selección de modo de juego*/
.container_modos {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

/* Botones seleccionables*/
#modo {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}
#modo input[type="radio"] {
    display: none;
}
  
#modo span {
    display: inline-block;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: uppercase;
    color: black;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: sans-serif;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

  
#modo input[type="radio"]:checked + span {
    background-color: var(--color-principal);
    color: black;
    font-weight: bold;
}

#modo input[type="radio"]:hover + span {
    cursor: pointer;
}

/* Contenido descriptivo del modo seleccionado */
.desc_modo {
    display: flex;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--color-principal);
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 500px;
}

.desc_modo .texto {
    width: 40%;
    padding-left: 10%;
}

.desc_modo .texto h4{
    color: rgb(68, 68, 68);
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.desc_modo .texto p{
    font-size: 22px;
    font-family: sans-serif;
}

.desc_modo .imagen {
    overflow: hidden;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.imagen img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


/* Boton de jugar */
.boton_jugar {
    margin: auto;
    margin-top: 40px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    padding: 10px;
    width: 130px;
    font-size: 22px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.boton_jugar:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


/* Adaptar container_modos  */
@media screen and (max-width: 900px) {
    #modo {
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .desc_modo {
        flex-direction: column;
        max-height: 600px;
    }
    .desc_modo .texto {
        width: 100%;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .desc_modo .imagen {
        width: 100%;
    }
}

/* Ajuste margen boton jugar con el final */
@media screen and (max-width: 453px) {
    .boton_jugar {
        margin-bottom: 50px;
    }
}

/* Quitar borde al seleccionar en las listas desplegables */
/* Estilo para quitar el borde predeterminado en Firefox */
select {
    text-indent: 1px;
    text-overflow: '';
  }

  /* Estilo para quitar el borde predeterminado en Chrome y Safari */
  select::-ms-expand {
    display: none;
  }

  /* Estilo para quitar el borde predeterminado en Chrome y Safari */
  select:focus {
    outline: none;
    cursor: pointer;
  }


/*Config partida*/
/* Contenedor principal */
.principal {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    word-wrap: break-word;
}


/* Contenedores con los botones */
#liga, #dificultad{
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#liga span img {
    max-width: 100%;
    max-height: 100%;
}

#liga input[type="radio"], #dificultad input[type="radio"] {
    display: none;
}
  
#liga span {
    text-align: center;
    padding: 10px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 250px;
    height: 200px;
    transition: 0.3s;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#dificultad span {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: uppercase;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width: 200px;
    font-size: 22px;
    font-family: sans-serif;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

  
#liga input[type="radio"]:checked + span, #dificultad input[type="radio"]:checked + span {
    background-color: var(--color-principal);
    font-weight: bold;
}

#liga input[type="radio"]:hover + span, #dificultad input[type="radio"]:hover + span {
    cursor: pointer;
}

/* Ajustar margen entre los botones */
@media screen and (max-width: 687px) {
    #liga, #dificultad {
        gap: 30px;
    }
}


/* Boton de jugar */


.principal button {
    margin-bottom: 30px;
    margin-top: -20px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    padding: 10px;
    width: 130px;
    font-size: 22px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.principal button:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* Boton de volver atras */
#volverAtras {
    max-width: 80px;
    padding-top: 50px;
    margin: auto;
}

#volverAtras button {
    background-color: transparent;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#volverAtras button img{
    width: 100%;
    height: auto;
}

#volverAtras button:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}