@import 'index.css';

.Contenido {
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
}

/* Parte superior con la barra de progreso y las indicaciones */
.parteSuperior {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.parteSuperior .Indicaciones {
    width: max-content;
    margin: auto;
}

.parteSuperior .Indicaciones .Indicacion {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}

.parteSuperior .Indicaciones .Indicacion .Cuadrado {
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 10px;
}
.parteSuperior .Indicaciones .Indicacion:first-child .Cuadrado {
    background-color: var(--color-principal);
}

.BarraProgresoLogros {
    background-color: var(--color-secundario);
    width: max-content;
    width: 650px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BarraProgresoLogros h2 {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.BarraProgresoLogros h2 span{
    font-family: sans-serif;
    color: var(--color-principal);
}



/* Botones para filtrar los resultados */
#filtroLogros {
    margin-top: 40px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



#filtroLogros input[type="radio"] {
    display: none;
}
  
#filtroLogros span {
    text-align: center;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    flex-wrap: wrap;
}

  
#filtroLogros input[type="radio"]:checked + span{
    background-color: var(--color-principal);
    font-weight: bold;
}

#filtroLogros input[type="radio"]:hover + span{
    cursor: pointer;
}

/* Ajustar margen entre los botones */
@media screen and (max-width: 1046px) {
    .botonesFiltrar {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }
    #filtroLogros {
        justify-content: center;
        gap: 15px;
    }

}

/* Estilos de los logros */
#containerLogros {
    display: flex;
    flex-wrap: wrap;;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    gap: 40px;
}

#logro {
    background-color: var(--color-principal);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logro #logro-header {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

#logro #logro-img {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#logro #logro-img img{
    max-height: 100px;
    height: max-content;
    width: auto;
}


@media screen and (max-width: 1046px) {
    #containerLogros {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    #containerLogros {
        gap: 10px;
    }
}